.field .tooccurrencedate {
    max-width: 83%;
}
.ss-occerrencefield-wrapper{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.ss-occerrencefield-item,
.ss-occerrencefield-headers {
    display: table-cell;
    margin: 10px;
    width: 200px;
}

.ss-occerrencefield-item.time,
.ss-occerrencefield-headers.time {
    width: 100px;
}

.ss-occerrencefield-headers .required{
    color: #ff9832;
}

.ss-occerrencefield-headers{
    display: table-cell;
    margin: 10px;
    width: 200px;
    font-weight: bold;
}

.ss-occerrencefield {
    margin-left: -10px;
}

input{
    margin-left: 10px;
}

.ss-occerrence-button {
    margin-top: 0;
    text-decoration: none;
    line-height: 16px;
    color: #393939;
    border: 1px solid #d0d3d5;
    border-bottom: 1px solid #b5babd;
    cursor: pointer;
    background-color: #e6e6e6;
    white-space: nowrap;
    font-weight: normal !important;
    text-shadow: none !important;
}

.ss-occerrence-button.add,
.ss-occerrence-button.add.ui-state-hover,
.ss-occerrence-button.add.ui-state-focus {
    color: white;
    background: linear-gradient(#94be42, #1f9433);
    border-color: #1F9433;
    border-bottom-color: #166a24;
}

.ss-occerrence-button.delete,
.ss-occerrence-button.delete.ui-state-hover,
.ss-occerrence-button.delete.ui-state-focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    border: solid 1px #980c10;
    color: white;
}

#ui-datepicker-div {
    display: none;
}